ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a{
    color: black;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 10px;
}

li a{
    display: block;
    text-align: center;
}

a:hover{
    text-decoration: underline;
}

.material-icons{
    color: #757272;
    padding: 7px;
}

.material-icons:hover{
    text-decoration: none;
    color: black;
}

li{
    float: left;
}

.sign-in{
    height: 20px;
    width: 80px;
    border-radius: 5%;
    background-color: rgba(29, 107, 223, 0.87);
    text-align: center;
    padding-right: 10px;
    color: white;
    vertical-align: middle;
    font-weight:bold;
}

.sign-in:hover{
    text-decoration: none;
    opacity: 0.95;
}

.navigation-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}


img{
    padding: 20px;
    width: 275;
}

.search-field input{
    padding-left: 60px;
    padding-right: 60px;
    border-style: solid;
    border-color: lightgray;
    border-width: 0.1px;
    border-radius: 30px;
    width: 550px;
    height: 45px;
    background-image: url('Image files/google-mic-logo-EF440C9A6F-seeklogo.com.png'), url('Image files/baseline_search_black_24dp.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 17px, 20px;
    background-position: 95%, 5%;
    outline: none;
    font-size: 16px;
}

.search-field:hover{
    box-shadow: 0 0 11px 
    rgba(33,33,33,.2);
    border-radius: 30px;
}

.submit-buttons{
    padding: 30px;
}

.submit-buttons input{
    height: 35px;
    width: 135px;
    margin: 5px;
    background-color: #ededed;
    border-radius: 2px;
    color: #6e6e6e;
    border: none;
    font-size: 14px;
}

.submit-buttons input:hover{
    border-style: solid;
    border-width: 0.1px;
    border-color: #c2c2c2;
    border-radius: 2px;
    color: black;
    cursor: pointer;
}

.bottomnav{
    background-color:#ededed;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    border-style: solid;
    border-color: lightgray;
    border-width: 0.1px;
    border-bottom: none;
}

.bottomnav a{
    color: #6e6e6e;
}

.bottomnav-left{
    position: fixed;
    bottom: 1%;
    left: 1%;
}

.bottomnav-right{
    position: fixed;
    bottom: 1%;
    right: 1%;
}