ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a{
    display: block;
    color: black;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 10px;
    text-align: center;
}

a:hover{
    text-decoration: underline;
}

.material-icons{
    color: #757272;
    padding: 7px;
}

.material-icons:hover{
    text-decoration: none;
    background-color: lightgrey;
    border-radius: 50%;
}

li{
    float: left;
}

.sign-in{
    height: 20px;
    width: 80px;
    border-radius: 5%;
    background-color: rgba(29, 107, 223, 0.87);
    text-align: center;
    padding-right: 10px;
    color: white;
    vertical-align: middle;
}

.sign-in:hover{
    text-decoration: none;
    opacity: 0.95;
}

img{
    display: block;
    margin: auto;
    padding: 30px;
    width: 275;
}

.search-field input{
    display: block;
    margin: auto;
    border-radius: 10px;
    border-width: 1px;
    width: 500px;
    height: 20px;
}

.submit-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 30px;
}

.bottomnav-left{
    position: fixed;
    bottom: 1%;
    left: 1%;
}

.bottomnav-right{
    position: fixed;
    bottom: 1%;
    right: 1%;
}